/* IMPORTING QUESTRIAL GOOGLE FONT */

@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

.main-heading {
	
  text-align: center;
  font-size: 30px;
  font-family: 'Questrial', sans-serif;
  color: #023141;
  margin-right: 15px;
	
}

/* ADDING STYLE TO START BUTTON */

.start {
	
  color: #fff;
  font-family: 'Questrial', sans-serif;
  display: inline-block;
  padding: 10px;
  margin: 10px auto;
  cursor: pointer;
  text-align: center;
  font-size: 15px;
  margin-right: 10px;
	
}


/* ADDING STYLE TO RESET BUTTON */

.reset {
	
  color: #fff;
  font-family: 'Questrial', sans-serif;
  display: inline-block;
  padding: 10px;
  margin: 10px auto;
  cursor: pointer;
  text-align: center;
  font-size: 15px;
  margin-right: 10px;
	
}


/* ADDING STYLE TO CALCULATIONS BUTTON */

.calc-button {
	
  color: #fff;
  font-family: 'Questrial', sans-serif;
  display: inline-block;
  padding: 10px;
  margin: 10px auto;
  cursor: pointer;
  text-align: center;
  font-size: 15px;
  margin-right: 10px;
	
}