/* RESET */
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th { font-size: 1em; font-weight: normal; font-style: normal; }
ul,ol { list-style: none; }
fieldset,img { border: none; }
caption,th { text-align: left; }
table { border-collapse: collapse; border-spacing: 0; } 

/* LAYOUT */
.clear { clear: both; }
.clearer { clear: both; display: block; margin: 0; padding: 0; height: 0; line-height: 1px; font-size: 1px; }

img, .search-wrapper .left, .search-wrapper .right, ul.sp-results li.viewall a, ul.sp-results li .replacementimg, #globalfooter #breadcrumbs, #globalfooter #breadcrumbs span, #directorynav .capbottom, #productheader h1 a, #productheader h2 a, #productheader a.buynow, #productheader a.ordernow, #productheader a.joinnow, #productheader a.preorder, #productheader a.freetrial, #productheader a.downloadnow, #productheader a.upgradenow { behavior: url(/global/scripts/lib/iepngfix.htc); }

img { border: 0; } 
img.left { float: left; margin: 2px 20px 16px 0; }
img.right { float: right; margin: 2px 0 16px 20px; }
img.across { margin: 2px 0 16px 0; }
img.flushleft { margin-left: -20px; }
img.flushright { margin-right: -20px; }

#omniture, #top { position: absolute; top: 0; }
#container { width: 980px; margin: 0 auto; position: relative; }
#main { width: 100%; position: relative; }
#content { padding: 18px 20px; position: relative; color: #333; }
#breadcrumb { clear: both; text-align: center; margin: 18px auto; clear: both; font-size: 10px; color: #686868; }

/* GRID */
.column { float: left; }
.grid2col, .grid2cola, .grid2colb, .grid2colc, .grid2cold, .grid2cole, .grid2colf, .grid3col, .grid3cola, .grid4col, .grid5col, .grid6col { width: 100%; }

.grid2col .column { width: 49%; }
.grid2col .grid2col .column { width: 47.8%; }
.grid3col .grid2col .column { width: 46%; }
.grid4col .grid2col .column { width: 45%; }

.grid2cola .column.first { width: 66%; }
.grid2cola .column.last { width: 32%; }

.grid2colb .column.first { width: 74.9%; }
.grid2colb .column.last { width: 23%; }

.grid2colc .column.first { width: 32%; }
.grid2colc .column.last { width: 66%; }

.grid2cold .column.first { width: 23%; }
.grid2cold .column.last { width: 74.9%; }

.grid2cole .column.first { width: 79%; }
.grid2cole .column.last { width: 19%; }

.grid2colf .column.first { width: 19%; }
.grid2colf .column.last { width: 79%; }

.grid3col .column { width: 32%; margin-left: 2%; }
.grid2col .grid3col .column { width: 31%; }

.grid3cola .column { width: 58%; margin-left: 2%; }
.grid3cola .column.first,
.grid3cola .column.last { width: 19%; }

.grid4col .column { width: 23%; margin-left: 3%; }

.grid5col .column { width: 18.4%; margin-left: 2%; }

.grid6col .column { width: 15%; margin-left: 2%; }

.column.first, .column.last { margin-left: 0 !important; }
.column.last { float: right !important; }

p.last, ul.last, ol.last, li.last { _width: auto !important; _float: none !important; }

#container:after, #content:after, .grid2col:after, .grid2cola:after, .grid2colb:after, .grid2colc:after, .grid2cold:after, .grid2cole:after, .grid2colf:after, .grid3col:after, .grid3cola:after, .grid4col:after, .grid5col:after, .grid6col:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
#container, #content, .grid2col, .grid2cola, .grid2colb, .grid2colc, .grid2cold, .grid2cole, .grid2colf, .grid3col, .grid3cola, .grid4col, .grid5col, .grid6col { zoom: 1; }

/* TYPE */
body { font: 14px/16px Lucida Grande, "Century Gothic", Arial, Verdana, sans-serif; font-weight: bold; background-color: #fff; color: #333; }

a { color: #08c; }
a:link, a:visited, a:active { text-decoration: none; }
a:hover { text-decoration: underline; }
a.more { white-space: nowrap; padding-right: 10px; background: url(http://images.apple.com/global/elements/arrows/morearrow_08c.gif) no-repeat 100% 50%; zoom: 1; }
a.external { white-space: nowrap; padding-right: 15px; background: url(http://images.apple.com/global/elements/icons/external10x10.gif) no-repeat 100% 49%; zoom: 1; }
a[rel="external"] { white-space: nowrap; padding-right: 15px; background: url(http://images.apple.com/global/elements/icons/external10x10.gif) no-repeat 100% 49%; zoom: 1; }
strong, b { font-weight: bold; text-align: justify;}
em, i { font-style: italic; }
sup { padding-left: 1px; font-size: 10px !important; font-weight: normal !important; vertical-align: baseline; position: relative; bottom: 0.33em; color: #76797c; _position: static !important; }
abbr { border: 0; }
.sosumi { font-size: 10px !important; color:#76797c; }
.sosumi_features { font-size: 10px !important; color:#76797c; }

p { margin-bottom: 18px; }
h1 { font-weight: bold; font-size: 24px; line-height: 36px; margin-bottom: 18px; }
h2 { font-weight: bold; font-size: 16px; line-height: 18px; margin-bottom: 18px; }
h3 { font-weight: bold; font-size: 1em; line-height: 18px; }
h4 { font-weight: bold; font-size: 10px; line-height: 18px; }
p.intro { font-weight: bold; }
.more { text-align: right;}

ul { margin-bottom: 18px; list-style: none outside; }
ol { margin-bottom: 18px; list-style: decimal; margin-left: 2.2em; }
ul.square,
ul.circle { margin-left: 2em; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul ul.circle,
ul ul.square { margin-top: 4px; margin-bottom: 5px; }
ol.sosumi { margin-left: 0; padding-left: 2em; }


.last { margin-bottom: 0; }
#main .sidebar { font-size: 10px; line-height: 18px; color:#686868; }
#main .callout { font-size: 11px; line-height: 18px; margin-bottom: 18px; }


<style type="text/css">#centerit {
align: 0 0 0 0;
margin: 0 0;
padding: 0 0:
}

/* PIPED LINKS */

/* PRETTY SEARCH */


/* GLOBALHEADER */


/* BUTTONS */


/* OVER STATES */


/* PRESSED STATES */


/* ON STATES */


/* Testing everywhere search */


/* GLOBAL SEARCH */


/* SEARCH SHORTCUTS */


/*--- Global Footer (legacy) ---*/

/*--- Global Footer ---*/


/*--- Breadcrumbs (legacy) ---*/


/*--- Breadcrumbs ---*/


/*--- Directory Nav ---*/


/*--- BREADORY ---*/


/* PRODUCTHEADER */



/* holiday promos */

/* PRINT */

/* iPhone */
